# PDFs
*.pdf

# Virtual environments
**/.venv/
**/venv/

# Python
**/__pycache__/
*.py[cod]

# Pytest
**/.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Generated media
*.gif
*.mp4

# 
/2. Computer Vision/Computer Vision Roadmap.txt